body{
    margin: 0;
}
section{
    font-family:'Roboto', sans-serif; ;
}
/*  header*/
.main-nav{
    flex-direction: space-between;
    align-items: center;
}
.nav-items{
    align-items: flex-end;
}
.nav-items li{
    list-style: none;
}
.items a {
    color:#022038;
}
.call-to{
    color: rgb(235, 134, 18);
    background-color: rgb(253, 234, 203);
    padding: 5px 10px;
    border-radius: 20px;
}
a{
    text-decoration: none;
}
/*layots*/
.row{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}
.col-2{
width: calc(100%/2- 40px);
flex: 1 0;

}
.col-3{
width: calc(100%/3- 40px);
flex:1 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.passionate h2{
font-size: 2rem;
}
.passionate-p{
align-self: center;

}
.passionate img{
    width: 100%;
    border-radius: 20px;
    vertical-align: bottom;
}
.breaking-l{
    position: relative;
}
.breaking-img::after{
    position: absolute;
    content: "";
    background-color: orange;
    inset: 0 85% 0 0 ;
    mix-blend-mode: multiply;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    vertical-align: bottom;
}
.view-a{
    color: white;
    background-color: orange;
    padding: 10px;
    border-radius: 20px;
}
.positions .col-3{
background-color: #DCEAF5;
margin-top: 20px;
padding: 20px;
border-radius: 20px;
}
.positions .apply a{
    color: orange;
}
.news-section img{
    width: 100%;
    border-radius: 20px;
}
.news-section a{
    color: orange;
}
.news-section a::after{
    content: "\2192" ;
}
.news-section{
    background-color: #DCEAF5;
}
.news-section .col-3{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 40px;
}

.footer-section{
    background-color: #083b64;
    color: white;
    height: 30vh;
    padding: 40px;
}
.footer-section li {
list-style: none;
padding: 10px ;
}
.footer-section a{
    color: white;
 
}
.image-pro{
    width: 40px;
    border-radius: 20px;
}

.type{
    background-color: white;
    padding: 10px 10px;
    color: grey ;
    border-radius: 20px;
}
.sub{
    background-color: orange;
    border-radius: 20px;
    padding: 10px;
}
.fin-logo{
    font-weight: 800;
}
.footer-left{
    align-items: center;

}
.news-section-p{
    padding: 20px;
}
.footer-left{
    position: relative;
}
.footer::after{
    position: absolute;
    background-color: orange;
    inset: 20% 82% 0 0 ;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}